<h1>Members Only</h1>
<p>Enter the secret password to gain exclusive lounge access...</p>
<form method="POST" action=''>
    <label for="secretcode">Secret Code</label>
        <input name="secretcode" placeholder="secret code" type="text" />

    <input type="submit" value='SUBMIT'>
</form>
<a href="/">Return Home</a>